[access]
	inheritFrom = ta
[access "refs/*"]
	owner = group ldap/akraino-gerrit-ta-openstack-ansible-rsyslog_client-committers
[project]
	description = This projects is re-used from the upstream Openstack-Ansible project (https://github.com/openstack/openstack-ansible ) for the purpose of deploying rsyslog. These services are used by various middleware, and deployer components.
